# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Turborepo
.turbo/
turbo-build.log

# Build Outputs
dist/
.next/
out/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Env
.env
.env.*
!.env.example

# Testing
coverage/
.nyc_output

# TypeScript
*.tsbuildinfo
